:root {
  --red: #AB2C4B;
  --gray: #252525;
  --grayPrimary: #3D3D3D;
  --graySecondary: #585858;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--grayPrimary);
}

.l-header {
  margin: 15px auto 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: var(--gray);
  border-left: solid 5px var(--red);
  border-right: solid 5px var(--red);
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.l-list {
  max-width: 600px;
  width: 60%;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  //background-color: green;
  background-color: var(--gray);
}

.l-list>p {
  color: white;
  padding: 25px;
  text-align: center;
  border-bottom: solid 5px var(--red);
}

.l-list>.item {
  width: 100%;
  color: white;
}

.l-list>.item>.id, .l-list>.item>.name, .l-list>.item>.button {
  display: inline-block;
  box-sizing: border-box;
}

.l-list>.item>.id {
  width: 20px;
  text-align: center;
}

.l-list>.item>.name {
  width: calc(100% - 130px);
  text-align: center;
}

.l-list>.item>.button {
  width: 100px;
}
